<!doctype html>

<html>
    <head>
        <link rel="icon" href="./images/favico.png">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>